.box {
  width: 600px;
  margin: 0 auto;
  background-color: #ffeaea;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 4px 4px 15px 8px rgba(224, 117, 53, 1);
}

h1 {
  text-align: center;
  background-color: #ffff;
  box-shadow: 2px 2px 10px 3px rgba(224, 117, 53, 1);
  padding: 10px;
  border-radius: 15px;
}

.title {
  text-align: center;
  background-color: #ffff;
  box-shadow: 2px 2px 10px 3px rgba(224, 117, 53, 1);
  padding: 10px;
  border-radius: 15px;
}
